@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Josefin+Sans&display=swap');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

:root {
    --bg-size: 100% 100%;
    --main_color: #fff;
    --title: 'Josefin Sans', sans-serif;
    --font-para: 'David Libre', serif;
    --btn-color: #bbe1fa;
    --btn-font-color: #000;
    --btn-font: 1.5rem;
    --eff: .3s all ease;
}

* {
    font-family: var(--font-para);
}

/* by default 1rem=16px   but using 62.5% 
              1rem=10px      */

html {
    font-size: 62.5%;
}

p, label, input::placeholder {
    font-size: 1.9rem;
    line-height: 170%;
    color: #6c757d;
}

figure img, .fab, .fas{
    transition: var(--eff);
}

a, a:hover{
    text-decoration: none;
    cursor: pointer;
}

body {
    background: hsl(84, 3%, 94%);
}

/*
.main_header {
    
    margin-bottom: 1rem;
}
*/
.main_header1{
    background: #1b262c;

}

.main_header_div{
    height: calc(100vh - 40vh);
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 50%, rgba(0,0,0,0)), url(../images/newbg6.jpg);
   /* background-image:  url(../images/newbg6.jpg); */
   background-size: var(--bg-size);
}

.main_heading {
    font-family: var(--title);
    font-weight: bold;
    font-size: 4rem;
    color: #E5E5E5;
}

.main_heading_para {
    font-size: 2.2rem;
}


.main_header_div p {
    font-weight: bold;
    font-size: 3.5rem;
    font-family: var(--title);
    color: var(--main_color);
}

.main_header_div h2 {
    font-size: 6.5rem;
    font-family: bold;
    font-family: var(--title);
    color: var(--main_color);
    position: relative;
    padding-bottom: 2rem;
    transition: var(--eff);

}

.main_header_div span {
    font-family: var(--title);
}

.animateWord div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 8rem;
    padding-top: 1rem;
    margin-top: -1rem;
}

.animateWord div li{
    font-weight: bold;
    padding: 0 1rem;
    height: 4.5rem;
    margin-bottom: 4.5rem;
    display: block;
    font-family: var(--title);
}

.flip{
    -webkit-animation: flip 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
    animation: flip 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@-webkit-keyframes flip {
    0%{
        margin-top: -360px;
    }
    5%{
        margin-top: -270px;
    }
    25%{
        margin-top: -270px;
    }
    30%{
        margin-top: -180px;
    }
    50%{
        margin-top: -180px;
    }
    55%{
        margin-top: -90px;
    }
    75%{
        margin-top: -90px;
    }
    80%{
        margin-top: 0px;
    }
    99.99%{
        margin-top: 0px;
    }
    100%{
        margin-top: -270px;
    }
}

@keyframes flip {
    0%{
        margin-top: -360px;
    }
    5%{
        margin-top: -270px;
    }
    25%{
        margin-top: -270px;
    }
    30%{
        margin-top: -180px;
    }
    50%{
        margin-top: -180px;
    }
    55%{
        margin-top: -90px;
    }
    75%{
        margin-top: -90px;
    }
    80%{
        margin-top: 0px;
    }
    99.99%{
        margin-top: 0px;
    }
    100%{
        margin-top: -270px;
    }
}

.main_header_div button {
    color: var(--btn-font-color);
    border-width: 0;
    font-size: var(--btn-font);
    transition: var(--eff);
    padding: .8rem 2rem;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    font-family: var(--title);
    outline: none;
}

.main_header_div button:hover,
figure img:hover,
.left_div_like:hover,
.left_div_reply:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 3rem -1rem rgba(255,255,255,0.7);
}

/*-- Left side of blog starts--- */

.blog_left_div h1{
    font-family: var(--title);
    font-weight: bold;
    font-size: 3rem;
}

.blog_left_div .blog-category {
    font-weight: 400;
    font-size: 2.2rem;
}

.blog_left_div .blog-category span {
    color: #1b262c;
}

.blog_left_div h2 {
    color: #1b262c;
    font-weight: 400;
    font-size: 2.2rem;
}

.left_div_btns {
    margin-top: 3rem;
    transition: var(--eff);
}

.left_div_like {
    color: var(--btn-font-color);
    /*border-width: .2rem;*/
    font-size: var(--btn-font);
    transition: var(--eff);
    padding: .8rem 2rem;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    font-family: var(--title);
    outline: none;
    border: none;
}

.left_div_reply {
    color: var(--btn-font-color);
    /*border-width: .2rem;*/
    font-size: var(--btn-font);
    transition: var(--eff);
    padding: .8rem 2rem;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    font-family: var(--title);
    outline: none;
    border: none;
}

.replies {
    margin: 2rem 0;
    padding: 1rem 0;
    transition: var(--eff);
    display: none;
}

.reply_hide {
    margin: 2rem 0;
    transition: var(--eff);
    display: block;
}

/*-- right side div styling ---*/

.right_div_title{
    background: #d0cecf;
    box-shadow: 0 1rem 3rem -1rem rgba(255,255,255,0.7);
}

.right_div_title h2{
    font-size: 2.5rem;
    padding-left: 2rem;
}

.author_img1 {
    background-image: url('../images/Prerana.jpeg');
    background-size: var(--bg-size);
}

.author_img2 {
    background-image: url('../images/Anushka.jpeg');
    background-size: var(--bg-size);
}

.author_img3 {
    background-image: url('../images/bg1.jpg');
    background-size: var(--bg-size);
}

.right_sub_div{
    background: #fff;
    padding: 2.5rem 1rem;
}

.right_sub_div .row{
    margin-bottom: 2rem;
    padding-left: 1rem;
}

.right_sub_div .row:last-child{
    margin-bottom: 0;
}

.row > .right_div_post{
    padding-left: 0;
    padding-right: 0;
}

.popular_post_img1 {
    background-image: url('../images/webd.jpeg');
    background-size: var(--bg-size);
}

.popular_post_img2 {
    background-image: url('../images/ml.jpeg');
    background-size: var(--bg-size);
}

.popular_post_img3 {
    background-image: url('../images/brain.jpg');
    background-size: var(--bg-size);
}

/*-----tags-----*/
.tags_main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem, 12rem));
    grid-gap: .5rem;
}

.tags_main a{
    font-size: 1.7rem;
    line-height: 170%;
    font-weight: 200;
    background: #6c757d;
    transition: var(--eff);
}

.tags_main a:hover{
    color: var(--btn-font-color);
    background: var(--btn-color);
}

/*--- advertisement ---*/
.advertise_img {
    min-width: 10rem;
    height: 20rem;
    display: grid;
    place-items: center;
}

/*----social media icons ---*/

.fab, .fas{
    color: #000;
}

.fab:hover, .fas:hover {
    color: #d0cecf;
    transform: rotate(360deg);
}

/*next starts from 2:10:10