@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Josefin+Sans&display=swap');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

:root {
    --bg-size: 100% 100%;
    --main_color: #fff;
    --title: 'Josefin Sans', sans-serif;
    --font-para: 'David Libre', serif;
    --btn-color: #bbe1fa;
    --btn-font-color: #000;
    --btn-font: 1.5rem;
    --eff: .3s all ease;
}

* {
    font-family: var(--font-para);
}

/* by default 1rem=16px   but using 62.5% 
              1rem=10px      */

html {
    font-size: 62.5%;
}

p, label, input::placeholder {
    font-size: 1.9rem;
    line-height: 170%;
    color: #6c757d;
}

figure img, .fab, .fas{
    transition: var(--eff);
}

a, a:hover{
    text-decoration: none;
    cursor: pointer;
}

body {
    background: hsl(84, 3%, 94%);
}

/*
.main_header {
    
    margin-bottom: 1rem;
}
*/
.main_header1{
    background: #1f313a;
}

/*
.main_header1 img{
    width: 12vw;
    height: 12vh;
}
*/

.main_heading {
    font-family: var(--title);
    font-weight: bold;
    font-size: 4rem;
    color: #E5E5E5;
}

.main_heading_para {
    font-size: 2.2rem;
    color: #E5E5E5;
}


.main_header_div{
    height: calc(100vh - 30vh);
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 50%, rgba(0,0,0,0)), url(../images/backgrounds/newbg7.jpg);
   /* background-image:  url(../images/newbg6.jpg); */
   background-size: var(--bg-size);
   padding: 0 4rem;
}



.main_header_div p {
    font-weight: bold;
    font-size: 6rem;
    font-family: var(--title);
    color: var(--main_color);
}

.main_header_div h2 {
    font-size: 6.5rem;
    font-family: bold;
    font-family: var(--title);
    color: var(--main_color);
    position: relative;
    padding-bottom: 2rem;
    transition: var(--eff);

}

.main_header_div span {
    font-family: var(--title);
}

.animateWord div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 8rem;
    padding-top: 1rem;
    margin-top: -1rem;
}

.animateWord div li{
    font-weight: bold;
    padding: 0 1rem;
    height: 4.5rem;
    margin-bottom: 4.5rem;
    display: block;
    font-family: var(--title);
}

.flip{
    -webkit-animation: flip 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
    animation: flip 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@-webkit-keyframes flip {
    0%{
        margin-top: -360px;
    }
    5%{
        margin-top: -270px;
    }
    25%{
        margin-top: -270px;
    }
    30%{
        margin-top: -180px;
    }
    50%{
        margin-top: -180px;
    }
    55%{
        margin-top: -90px;
    }
    75%{
        margin-top: -90px;
    }
    80%{
        margin-top: 0px;
    }
    99.99%{
        margin-top: 0px;
    }
    100%{
        margin-top: -270px;
    }
}

@keyframes flip {
    0%{
        margin-top: -360px;
    }
    5%{
        margin-top: -270px;
    }
    25%{
        margin-top: -270px;
    }
    30%{
        margin-top: -180px;
    }
    50%{
        margin-top: -180px;
    }
    55%{
        margin-top: -90px;
    }
    75%{
        margin-top: -90px;
    }
    80%{
        margin-top: 0px;
    }
    99.99%{
        margin-top: 0px;
    }
    100%{
        margin-top: -270px;
    }
}

.main_header_div button {
    color: var(--btn-font-color);
    border-width: 0;
    font-size: 2rem;
    transition: var(--eff);
    padding: .8rem 2rem;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    font-family: var(--title);
    outline: none;
    border-radius: 0.5rem;
}

.main_header_div button:hover,
figure img:hover,
.left_div_like:hover,
.left_div_reply:hover,
.left_div_readMore:hover,
.subs_btn:hover
.right_div_more:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 3rem -1rem rgba(255,255,255,0.7);
}

/*--- recent posts ---*/
.main_heading_owl {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.25rem;
    border-radius: 1.5rem;
}
.blog-content{
    overflow: hidden;
}
.blog-content img{
    transition: all 1s ease;
}

.blog-content img:hover {
    cursor: pointer;
    transform: scale(1.1);

}

.item .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 1rem 1rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}



.card-img, .card-img-top {
    height: 32rem;
}

.item .blog-content .blog-title{
    padding: 2rem 0;
}

.item .blog-content .blog-title h2{
    font-weight: bold;
}

.item .blog-content span{
    display: block;
    font-size: 2rem;
    margin: .5rem;
    
} 
.item .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    margin: .5rem;
    font-size: 2rem;
    border: none;
    border-radius: 2rem;
}




/*-- Left side of blog starts--- */


.blog_left_div h1{
    font-family: var(--title);
    font-weight: bold;
    font-size: 3rem;
}

.blog_left_div .blog-category {
    font-weight: 400;
    font-size: 2.2rem;
}

.blog_left_div .blog-category span {
    color: #1b262c;
}

.blog_left_div h2 {
    color: #1b262c;
    font-weight: 400;
    font-size: 2.2rem;
}

.left_div_btns {
    margin-top: 3rem;
    transition: var(--eff);
}

.left_div_like {
    color: var(--btn-font-color);
    /*border-width: .2rem;*/
    font-size: var(--btn-font);
    transition: var(--eff);
    padding: .8rem 2rem;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    font-family: var(--title);
    outline: none;
    border: none;
    margin-right: 3rem;
}

.left_div_reply {
    color: var(--btn-font-color);
    /*border-width: .2rem;*/
    font-size: var(--btn-font);
    transition: var(--eff);
    padding: .8rem 2rem;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    font-family: var(--title);
    outline: none;
    border: none;
}

.left_div_readMore {
    color: var(--btn-font-color);
    /*border-width: .2rem;*/
    font-size: var(--btn-font);
    transition: var(--eff);
    padding: .8rem 2rem;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    font-family: var(--title);
    outline: none;
    border: none;
}

.replies {
    margin: 2rem 0;
    padding: 1rem 0;
    transition: var(--eff);
    display: none;
}

.reply_hide {
    margin: 2rem 0;
    transition: var(--eff);
    display: block;
}

/*-- right side div styling ---*/

.right_div_title{
    background: #d0cecf;
    box-shadow: 0 1rem 3rem -1rem rgba(255,255,255,0.7);
}

.right_div_title h2{
    font-size: 2.5rem;
    padding-left: 2rem;
}

.author_img1 {
    background-image: url('../images/Prerana.jpeg');
    background-size: var(--bg-size);
    border: 1px solid #000;
}

.author_img2 {
    background-image: url('../images/Anushka.jpeg');
    background-size: var(--bg-size);
    border: 1px solid #000;
}

.author_img3 {
    background-image: url('../images/backgrounds/bg1.jpg');
    background-size: var(--bg-size);
    border: 1px solid #000;
}

.right_div_more {
    color: var(--btn-font-color);
    /*border-width: .2rem;*/
    font-size: 1.2rem;
    transition: var(--eff);
    padding: .5rem .8rem;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    font-family: var(--title);
    outline: none;
    border: none;
}

.right_sub_div{
    background: #fff;
    padding: 2.5rem 1rem;
}

.right_sub_div .row{
    margin-bottom: 2rem;
    padding-left: 1rem;
}

.right_sub_div .row:last-child{
    margin-bottom: 0;
}

.row > .right_div_post{
    padding-left: 0;
    padding-right: 0;
}

.popular_post_img1 {
    background-image: url('../images/webd.jpeg');
    background-size: var(--bg-size);
    border: 1px solid #000;
}

.popular_post_img2 {
    background-image: url('../images/ml.jpeg');
    background-size: var(--bg-size);
    border: 1px solid #000;
}

.popular_post_img3 {
    background-image: url('../images/brain.jpg');
    background-size: var(--bg-size);
    border: 1px solid #000;
}

/*-----tags-----*/
.tags_main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem, 12rem));
    grid-gap: .5rem;
}

.tags_main a{
    font-size: 1.7rem;
    line-height: 170%;
    font-weight: 200;
    background: #6c757d;
    transition: var(--eff);
}

.tags_main a:hover{
    color: var(--btn-font-color);
    background: var(--btn-color);
}

/*--- advertisement ---*/
.advertise_img {
    min-width: 10rem;
    height: 20rem;
    display: grid;
    place-items: center;
}

/*----social media icons ---*/

.social_media .fas, .fab{
    color: #000;
}

.social_media .fas:hover, .fab:hover {
    color: #d0cecf;
    transform: rotate(360deg);
}

/*--- email subscription --- */
.right_sub_div #exampleInputEmail1 {
    padding: 1.5rem 1rem;
    margin: 1.5rem 0;
}

.subs_btn {
    border-width: 0;
    font-size: var(--btn-font);
    transition: var(--eff);
    padding: .8rem 2rem;
    display: block;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    font-family: var(--title);
    outline: none;
}

/*----  blog specials ---*/
.card-img-top {
    height: 30vh;
}

#homeCenterDiv .card .btn {
    background-color: #1f313a !important;
    border-color: #2C3E50 !important;
}

#homeCenterDiv .card .btn p{
    color: #fff;
    font-family: var(--btn-font);
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

#homeCenterDiv .card {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .08);
    transition: all 0.3s ease-in-out;
}

#homeCenterDiv .card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #882e04;
    transition: 0.5s;
}

#homeCenterDiv .card:hover, #homeCenterDiv .card:active {
    transform: scale(1.05);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
}

#homeCenterDiv .card:hover:after, #homeCenterDiv .card:active:after {
    width: 100%;
}

#homeCenterDiv .stretched-link {
    border-radius: 0 0 0.25rem 0.25rem;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}


/* ----------------- Footer --------------------- */

footer.footer{
    height: 100%;
    background: #0f0f0f;
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: #fff;
}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--font-para);
    /*font-family: var(--Josefin);*/
    font-size: 1.2rem;
    width: 83%;
}

footer.footer .newsletter .form-element span{
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    
    padding: .5rem .7rem;
    cursor: pointer;
}


footer.footer .follow div i{
    color: #fff;
    padding: 0 .4rem;
}

footer.footer .rights{
    justify-content: center;
    font-family: var(--font-para);
    /*font-family: var(--Josefin);*/
}

footer.footer .rights h4 a{
    color: #fff;
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: #104f55;
}

footer.footer .move-up span:hover{
    color: #fff;
    cursor: pointer;
}

/* ---------x------- Footer ----------x---------- */
